*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.links-container{
    gap: 100px;
   
    
}
.cart-image{
    width: 100%;
    height:68vh;
    background: url("../../images/cart-image.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    animation:slide 9.5s infinite;
}

@keyframes slide{
    25%{
        background-image: url("../../images/cart-image.JPG");
        background-repeat: no-repeat;   
    }
    50%{
        background-image: url("../../images/cart-image2.jpg");
        background-repeat: no-repeat;   
    }
    75%{
        background-image: url("../../images/cart-image3.jpg");
        background-repeat: no-repeat;   
    }
    100%{
        background-image: url("../../images/cart-image4.jpg");
        background-repeat: no-repeat;   
    }
    
}


.links-list button{
  position: relative;
  left: 50px;
  width: 200px;
  padding: 0.5rem;
  justify-content: center;
  background-color: black;
  
}
.links-list{
    margin-top:30px;
} 
.links-list button .btn a{
    align-items: center;
    color: white;
    position:relative;
    right: 50px;
    font-size: 14px;
    
}
.angle-right-icon-btn{
    color:white;

}
.links-list button .btn a:hover{
    color: #cc8032;
}
.alink{
    font-size:20px;
    margin-bottom: 25px; 
     margin-top: 10px;
    /* margin-left: 28px;
     */

} 

.links-list img{
    
}
.links-list li{
    list-style-type: none;
}
.links-list li:hover{
    /* text-shadow: green; */
    cursor:pointer;
    color: yellow;
}
.Box-container{
    /* margin-top: 100px; */
}
.btn{
    /* margin-left: 100px; */
}
.links-list .alink .link:hover{
color: #cc8032;
}
.more-button{
    color: white;
}
