*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile{
    width: 60px;
    height:8vh;
    position: absolute;
    left: 30%;
    top: 30px;
    border-radius: 50px;
}
.Product{
    font-size: 16px;
    color: rgb(80, 11, 22);
    text-align: center;
    position: relative;
    top: 5px;
    
}
.categories{
  position: relative;
  bottom: 23rem; 
  left: 80rem; 
}
.Money{
    position: relative;
    top: 20px;
    left: 40px;
}
DashLayout{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}



