*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
}
.footer{
    background: black;
    padding: 2rem;
    color: #ddd;
    width: 100%;
    position: relative;
    top: 50rem;
    
}
.footer-container{
   
    display: grid;
    grid-template-columns: 20% 20% 16% 15% 25%;
    width: 100%;
    left: 10rem;
    
   


    
}
p span{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer-title{
    color: #eee;
    font-size: 1.5rem;
}

.copyright
.contactus-column{
    color: pink;
    font-size: 1.3rem;
}
.footer-container a:link,
.footer-container a:visited{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer-container a:hover,
.footer-container a:active{
    color: pink;
}
.footer-logo{
    display:flex;
   gap:2rem;
   align-items:center;
   justify-content:flex-end;
   margin-bottom: 2rem;

}
/* .logo-img-container{
    
} */
.logo-img{
   height:5rem;
   gap: 2rem;
 
 
  

     
}
.log-img{
    border-radius: 50%;
    /* width: 60%; */
    height: 15rem;
}
.copyright{
    font-size: 1rem;
}

p{
    font-size: 1rem;
}
h6{
  
    /* left: 50rem; */
    text-align: center;
    font-size: 1rem;
}
.contactus-column p {
font-size: 20px;
}
.contactus-column a{
    font-size: 20px;
}