*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:    'Fira Sans', sans-serif;
}
.Head{
    background-color: black;
    padding: 10px 0;
    color: white;
}
.Head i{
    margin-right: 10px;
}
.Head label{
    margin-right: 30px;
    font-size: 13px;
}

.Logo h3{
font-size: 20px;
padding: .2px;
padding-bottom:30px ;
margin-left: 4rem;
color: black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid black;
}
.Home{
    font-size: 13px;
    margin: auto;
    padding: .5rem;
}
.header{
    background-color: white;
}
.navbars{
    margin-left: 60rem;
    padding: 1rem;
   
}

.containers {
    padding-top: 1rem;
    width: 100%;
}

.links-container{
    /* width: 100%; */
    display: flex;
    color: black;

    list-style: none;
}
.links-container .link{
    margin-left: 79px;
}
.links-container .link-item .link{
    display: flex;
    justify-content: space-between;
}
.link{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}
.link:hover{
    transform: .5s;
    color: rgba(156, 14, 62, 0.808);
    opacity: .8s;
}
.Logo-img img{
    border-radius: 70%;
    width:30%;
    height: 50%;
    margin-left: 50px;

}